# Unidad 5 - Operadores relacionales y lógicos

# Operadores relacionales o de comparación

Los operadores relacionales permiten comparar dos valores, como si se tratara de una balanza:

| Operador | Significado       |
|----------|-------------------|
|  `==`    | igual que         |
|  `!=`    | distinto que      |
|  `<`     | menor que         |
|  `>`     | mayor que         |
|  `<=`    | menor o igual que |
|  `>=`    | mayor o igual que |

In [ ]:
4 == 5

In [ ]:
p = 4
5 == (p + 1)  # expresion : evaluar -> valor

In [ ]:
5 == p

In [ ]:
# recuerda la diferencia entre expresión y sentencia

x = 6.5       # sentencia: crear una variable ---> efecto
y = 6.0
x - 0.5 == y  # expresión: comparar ---> resultado (valor)

In [ ]:
x != y

In [ ]:
x != y + 0.5

In [ ]:
5 < 7

In [ ]:
7 < 5

In [ ]:
7 > 5

In [ ]:
5 <= 5

In [ ]:
4 >= 5

In [ ]:
5 == 5.00001

## Comparación de cadenas

- Las cadenas se comparan carácter a carácter, del primero al último
- Los caracteres no están ordenados como en el diccionario; por ejemplo:
   - los dígitos son menores que las letras
   - las letras mayúsculas son menores que las minúsculas
   - las letras con acentos, etc. son mayores que el resto de letras

In [ ]:
"python" == "pythonic"

In [ ]:
"python" == "Python"    # se distinguen minúsculas y mayúsculas

In [ ]:
"python" == "py" + "thon"

In [ ]:
"python " == "python"  # los espacios son significativos

In [ ]:
"python" == "pythonic"

In [ ]:
"python" < "pythonic"

In [ ]:
'5' < 'A'  # dígitos menor que letras

In [ ]:
'A' < 'a' #  mayúsculas menor que minúsculas

In [ ]:
"aBcdefg" < "abcdefg"  # mayúsculas menor que minúsculas

In [ ]:
'a' < 'á'  # las letras con tildes, etc son mayores que el resto

In [ ]:
'A' > 'á'

In [ ]:
"Ángeles" < "Maribel"  # observa que Python no ordena en orden alfabético

In [ ]:
"abc d zzzzzz" > "abc e aaaaaaa"  # la comparación se decide al llegar a 'd' y 'e'

In [ ]:
"12" > "115"    # ojo: aunque sean dígitos se comparan las cadenas carácter a carácter

In [ ]:
"1234" == 1234  # si no tienen el mismo tipo son distintos

In [ ]:
"1234" != 1234

## Operadores relacionales de cadenas: `in` y `not in`

Para las cadenas tenemos dos operadores relacionales adicionales que nos permiten saber si una cadena es o no subcadena de otra:

In [1]:
"hola" in "hola python"   # ¿es "hola" una subcadena de "hola python"?

True

In [ ]:
"python" in "hola python"

In [ ]:
"y" in "hola python"

In [ ]:
"adios" in "hola python"

In [6]:
"adios" not in "hola python"

True

## Tipo booleano (`bool`)

Ya conocemos los tipos `int`, `float` y `str`, pero las expresiones anteriores devuelven dos nuevos valores: `True` y `False`. ¿De qué tipo son?

In [2]:
type(False) #poner siempre la primera en mayúscula

bool

In [3]:
print(312)     # literal entero (int)
print(3.14)    # literal flotante (float)
print("hola")  # literal cadena (str)

# literales para bool? Solo hay dos valores, luego solo hay dos literales:

print(True)
print(False)

312
3.14
hola
True
False

Podemos crear variables de tipo booleano:

In [ ]:
x = 5 + 7
print(type(x))

jubilado = False
print(type(jubilado))

edad = 78
jubilado = edad > 65
print(jubilado)
print(type(jubilado))

In [ ]:
# funciones de conversión: int(), float(), str(), bool()

edad = 45
cadena_edad = str(edad)
print(type(cadena_edad))
cadena_edad

In [ ]:
b = bool(0)  # de int a bool, mientras que sea distinto de 0 es true, si es 0 es false
print(type(b))
b

In [ ]:
b = bool(1)  # de int a bool, mientras que sea distinto de 0 es true, si es 0 es false
print(type(b))
b

In [ ]:
b = bool(0.0)  # de float a bool, mientras que sea distinto de 0 es true, si es 0 es false
print(type(b))
b

In [4]:
b = bool(0.0000000001)  # de float a bool, mientras que sea distinto de 0 es true, si es 0 es false
print(type(b))
b

<class 'bool'>

True

In [5]:
b = bool("False") # de str a bool
print(type(b))
b

<class 'bool'>

True

In [ ]:
b = bool("")  # de str a bool ("" es la cadena vacía; no tiene nada dentro), si no escribimos nada es false
print(type(b))
b

In [ ]:
b = bool("hola")  # de str a bool
print(type(b))
b

## Operadores lógicos o booleanos

Para los tipos `int`, `float` y `str` disponemos de varios operadores que nos permiten escribir expresiones:

In [ ]:
3 + 6

In [ ]:
4.67 * 5.2

In [ ]:
"hola" + "python"

Los operadores relacionales devuelven un resultado de tipo `bool`:

In [ ]:
2 < 3

Los operadores booleanos o lógicos `and`, `or` y `not` toman operandos de tipo `bool` y devuelven `bool`como resultado:

In [8]:
renta = 17000
ayuda = renta < 15000
ayuda

False

In [9]:
#ayuda renta mayor que 15000 y menor que 30000
ayuda = renta > 15000 and renta < 30000
ayuda

True

In [10]:
estado = "trabajador"  # "jubilado". "estudiante", ...
beca = estado == "jubilado" or estado == "estudiante"   # beca si es jubilado o estudiante
beca

False

In [11]:
estado = "estudiante" # jubilado
beca = estado == "estudiante" or estado == "jubilado" #si es jubilado o estudiante
beca

True

In [12]:
hora =  13
cita =  hora < 10 or hora > 17 # cita si antes de las 10 de la mañana o después de las 5 de la tarde
cita

False

In [14]:
#cita entre las 10 y las 16
cita = hora > 10 and hora < 16
cita

True

In [15]:
## nombre y apellido: inicial del nombre es una vocal y inicial del apellido es una consonante
nombre = "Ana"
apellido = "García"
vocales = "aeiouAEIOU"  # ignoramos vocales acentuadas
valido = nombre[0] in vocales and apellido[0] not in vocales
valido

True

In [16]:
r = "Ángeles" < "Maribel" #locales
r

False

False

La precedencia de operadores está definida de manera que haya que poner pocos paréntesis:
- primero los numéricos
- después los relacionales
- finalmente los lógicos

In [20]:
y = 4
x = 3
x + 6 > 15 and 3 * x == 6 * y

False

## Solución del primer  problema de paper coding (283)

In [21]:
n = int(input("Introduce un número: "))
resultado = n % 2 != 0
print("¿Es impar?", resultado)

Introduce un número: 5
¿Es impar? True

In [22]:
# otra solución
número = input("indica una cifra: ")
impar = "13579"
valido = número[-1] in impar 
valido

indica una cifra: 5

True

## Solución del segundo  problema de paper coding (284)

In [23]:
numero = int(input("Introduce un número: "))
resultado = numero >= 0 and numero <= 100 and numero % 2 == 0
print ("Es un numero par entre 0 y 100?:", resultado)

Introduce un número: 2
Es un numero par entre 0 y 100?: True

## Solución del primer  problema de pair programming (298)

In [25]:
numero = int(input("pon un numero "))
valido = numero // 100 == 3 #me quedo con las centenas al dividir entre 100 y si es 3 es true, sino false
valido

pon un numero 5

False

In [26]:
# otra solución
x = int(input("numero: "))
rango = x >= 300 and x <= 399
print("resultado:", rango)

numero: 5
resultado: False

## Solución del segiundo  problema de pair programming (299)

In [29]:
numero = int(input("pon un numero entero "))
valido = numero % 5 == 0
valido

pon un numero entero 125

True

## Solución del mission problem (259)

In [31]:
year = int(input("introduce año: "))
is_leap_year = year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)
print(year, "is a leap year", is_leap_year) #año bisiesto

introduce año: 2000
2000 is a leap year True

## Operadores lógicos y evaluación por cortocircuito

Los operadores lógicos `and` y `or` solo evalúan el segundo operando cuando es necesario:

In [ ]:
(7 > 5) and ((8 // 0) == 1) # esto falla porque hay que evaluar el segundo operando

In [ ]:
(7 < 5) and ((8 // 0) == 1) # esto no falla porque no hay que evaluar el segundo operando

In [ ]:
(5 == 4 + 1)  or ((8 // 0) == 1) # esto no falla porque no hay que evaluar el segundo operando